<section class="container-fluid" id="body">
    <section class="row justify-content-center">
        <img src="../assets/burger.png" alt="Burger" width="250">
    </section>
    <section class="row justify-content-center">
        <section class="jumbotron jumbotron-fluid text-center" id="header">
            <h1 class="eat">Eat-Da-Burgers!</h1>
        </section>
    </section>
    <section class="row justify-content-center">
        <form id="create-form">
            <section class="form-group">
                <label for="burger">Burger Name:</label>
                <section class="row justify-content-center">
                    <input type="text" id="burger" name="name">
                </section>
            </section>
            <button type="submit" class="btn submit-btn">Submit</button>
            <p>Enter a burger you want to eat. Click the "Submit" button.</p>
        </form>
    </section>

    <section class="container-fluid">
        <section class="row justify-content-center">
            <section class="col-5 ml-5">
                <section class="card mb-3 justify-content-center">
                    <label class="devour" for="devoured">Devoured?</label><br>
                    <ul class="list-group card-body p1-3" name="devoured" id="devoured">
                        {{#each burger}}
                        {{#unless devoured}}
                        {{> burgers/burger-block devour=true}}
                        {{/unless}}
                        {{/each}}
                    </ul>
                </section>
            </section>
            <section class="col-5 ml-5">
                <section class="card mb-3">
                    <label class="devour" for="devoured">Devoured!</label><br>
                    <ul class="list-group card-body p1-3" name="devoured" id="not-devoured">
                        {{#each burger}}
                        {{#if devoured}}
                        {{> burgers/burger-block devour=false}}
                        {{/if}}
                        {{/each}}
                    </ul>
                </section>
            </section>
        </section>
    </section>
</section>
</section>